/*html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: *;
	padding: *;
	border: *;
	font-size: ***%;
	vertical-align: ?;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: *.*;
}
ol {
	padding-left: *.*em;
	list-style: ?;
}
ul {
	padding-left: *.*em;
	list-style: ?;
}
table {
	border-collapse: collapse;
	border-spacing: *;
}
/* конец кода сброса стилей браузера */
*/

body {
	font-size: 14%;
}

.content {
	margin: 5px;
	border: 1px dashed #d3d5d6;
	border-bottom: none;
}
h1 {
	font: normal 1.5em Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px dashed #d3d5d6;
	padding: 5px * 5px 5px;
	color: #14556b;
}
p {
	font: 1.0em Georgia, "Times New Roman", Times, serif;
	margin: 10px 5px;
}
.copyright {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	text-transform: ?;
	color: #c6c9ca;
	margin-left: *px;
	padding-left: *px;
	border-top: 1px dashed #d3d5d6;
	clear: ?;
}
/* пользовательские стили  */

figure {
  float: right;
  width: ***px;
  margin: **px **px *px *px;
}
figure img {
  border: 2px solid #***;
  background-color: #CCC;
  padding: **px;
}
figcaption {
  font: bold 1em/normal Verdana, Arial, Helvetica, sans-serif;
  color: #8a8a8a;
  text-align: left;
  background-image: linear-gradient(to bottom, #e6f3ff, white);
  border: 1px dashed #d3d5d6;
  padding: 10px;
}
