BODY{
  background: #fcefec;
}
H1 {
  color: purple;
  font-family: Courier;
  font-style: oblique;
  font-weight: bold;
  font-size: 25pt;
}
H2 {
  color: purple;
  font-family: Courier;
  font-style: oblique;
  font-weight: bold;
  font-size: 18pt;
}

H3 {
  color: #c7bebc;
  font-family: Palatino,serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16pt;
}
P {
  color: black;
  font-family: Courier;
  font-style: oblique;
  font-weight: bold;
  font-size: 15;

}
